<section class="footer">
    <div class="logo"> <a href=""><img src="./img/logo.png" alt="" class="logo__img"> </a></div>
    <div class="content">
        <ul class="categories-1">
            <li class="categories-1__items"><a href="" class="arabic">العربية<i class="fas fa-globe "></i></a></li>
            <li class="categories-1__items"><a href="">Accueil</a></li>
            <li class="categories-1__items"><a href="">Conseil</a></li>
        </ul>
        <ul class="categories-2">
            <li class="categories-2__items categories-2__items--title">Contact utiles</li>
            <li class="categories-2__items">Chiffre économique "Alo épidémie vigilance"</li>
            <li class="categories-2__items categories-2__items--nmr">080 100 47 47</li>
            <li class="categories-2__items">Aide médicale urgente</li>
            <li class="categories-2__items categories-2__items--nmr">114</li>
        </ul>
        <p class="discreption">Algorithme d'orientation mis à jour sur les recommandations en vigueur
            au 22/03/2020 à 16h15. Ce site d’information n’est pas un dispositif médical,
            il ne délivre pas d’avis médical. Projet solidaire d'urgence,financé par l’Alliance
            Digitale contre le COVID-19 : @maladiecovid19</p>
    </div>
    <div class="bg"></div>
</section>