<header>
    <nav>
        <div class="bg">
            <div class="banner">
                <a class="logo" href=""><img src="./img/logo.png" alt=""></a>
                <ul class="menu">
                    <li class="menu__items"><a href="./html/conseil.html">Conseil</i>
                    <li class="menu__items"><a href="#">َAccueil</a></li>

                    <li class="menu__items"><a href="#" class="arabic">عربي<i class="fas fa-globe "></i> </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="hero">
        <div class="bg">
            <div class="alert">
                <h6 class="alert__title">
                    LA DERNIÈRE INFO MÉDICALE
                </h6>
                <p class="alert__description">
                    La prise d'anti-inflammatoires (ibuprofène, cortisone ...) pourrait être un facteur
                    d'aggravation de
                    l’infection. En cas de fièvre, prenez du paracétamol.
                    N'arrêtez pas votre traitement ! Consultez votre médecin ou votre pharmacien.
                </p>

            </div>
        </div>
    </div>
</header>