.test {
    position: relative;
    padding: 116px 0 10em 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    .progressAria {
        text-align: center;
        margin-bottom: 5em;
        width: 70%;
        margin: 0 auto 5em auto;
        .setups {
            width: 70%;
            position: absolute;
            top: 112px;
            display: flex;
            justify-content: space-between;
            span {
                border: 8px solid $multi-blue;
                border-radius: 50%;
            }
        }
        .titles {
            width: 75%;
            left: 12%;
            position: absolute;
            top: 112px;
            display: flex;
            justify-content: space-between;
            h1 {
                margin-top: 1.5em;
                font-size: 14px;
                color: black;
            }
        }
    }
    .contentAria {
        margin-bottom: 2em;
        margin-top: 10em;
        background-color: $blue;
        height: 50%;
        width: 100;
        padding: 1em 42px;
        border-radius: 15px;
        .title {
            margin: 8px auto 16px auto;
        }
        .question {
            h2 {
                margin-top: 0.5em;
                font-size: 41px;
                font-weight: bold;
                color: #787878;
            }

            .text {
                font-size: 20px;
                font-weight: 500;
            }

            .line {
                margin: 16px auto;
                width: 60%;
                border-bottom: 2px solid yellow;
            }
        }
    }
    .bottonAria {
        width: 80%;
       margin: 0 auto;
        .bot {
            .btn {
                width: 60%;
                margin: 0 auto 0.5em auto;
                @include btn;
                &:active {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
    .reponse {
        display: flex;
        justify-content: space-evenly;
        font-size: 28px;
        font-weight: 100;
        color: #787878;
        input {
            margin: 2em 1em;
        }
    }
}
