body {
    nav {
        position: fixed;
        opacity: 0.8;
        width: 100%;
        height: 85px;
        background: $light;
        font-size: 2em;
        .bg {
            height: 85px;
            width: 100%;
            // background:url(../img/coronavirus-virus.png);
            background-size: cover;
            .banner {
                display: table;
                
                
                margin: 0 auto;
                width: 98%;
                height: 90px;
                .logo {
                    opacity: 1;
                    height: 100%;

                    img {
                        height: 140%;
                        width: auto;
                        &:hover {
                            transform: scale(1.3);
                            transition-duration: 0.8s;
                        }
                    }
                }
                .menu {
                    margin-right: 12px;
                    text-align: right;
                    display: inline-block;
                    display: table-cell;
                    vertical-align: middle;
                    right: 0px;
                    &__items {
                        font-size: 3rem;
                        margin: 0 1em;
                        display: inline-block;
                        
                        .arabic {
                            margin-left: 20px;
                            font-size: 2rem;
                            padding: 0px 8px;
                            border: 1px solid $dark-blue;
                            border-radius: 10px;
                            margin-left: 1em;
                         
                        }
                        i {
                            margin-left: 1rem;
                            color: $yellow;
                        }
                    
                    }
                }
            }
        }
    }
    .hero {
        width: 100%;
        padding-top: 85px;
        display: block;
        .bg {
            background-color: $yellow;
            width: 100%;
            .alert {
                margin: 0 auto;
                width: 100%;
                text-align: center;

                &__description {
                    line-height: 1em;
                    font-weight: bold;
                    margin: 8px auto;
                    font-size: 15px;
                    color: $multi-blue;
                    max-width: 550px;
                    padding-bottom: 0.5em;
                }
            }
        }
        .banner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            .img-block {
                max-width: 550px;
                &__img {
                    max-width: 550px;
                }
            }
            .text-block {
                margin: 0 auto;
                padding-top: 8em;
                line-height: 5.6em;
                max-width: 612px;
                text-align: center;
                &__title {
                    font-size: 10vmax;
                }
                &__icon {
                    img {
                        margin-top: 2em;
                        height: 100px;
                        width: auto;
                    }
                }
                &__description {
                    
                }

                .btn {
                    &__pmr {
                        @include btn;
                    }
                }
            }
        }
    }
}
