@mixin btn {
    width: 100%;
    background-color: $multi-blue;
    max-width: 612px;
    height: 52px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    margin-top: 1em;
    border-radius: 8px;
    &:hover {
        cursor: pointer;
        background-color: $yellow;
        transform: scale(1.3) ;
        transition-duration: 1s;
    }
}
@mixin breakpoint($point) {

    @if $point == laptop {
      @media (max-width: 1250px) { @content ; }
   }
   
   @else if $point == mobile {
      @media (max-width: 600px)  { @content ; }
 
   }
 }
//  /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}