.protect {
    margin-bottom: 8em;
    text-align: center;
    .title {
        padding-top: 8em;
    }
    .block {
        width: 90%;
        margin: 0 auto;
        padding-top: 8em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__items {
            width: 345px;
            height: auto;
            text-align: center;
            &--img {
                height: 50%;
                width: auto;
            }
            &--title {
                max-width: 700px;
                margin: 0 auto 1em auto;
                font-size: 18px;
                color: $dark-blue;
            }
        }
    }
}